<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for SurfaceDevCenterManager" Description="Code analysis rules for SurfaceDevCenterManager.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
</RuleSet>